*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
    background: #313740;
}

.ms-wrapper {
    position: relative;
    margin: 0 auto 100px;
    width: 100%;
    max-width: 65em;
    padding: 0 1em;
}

button {
    background: transparent;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 30px;
    border: 3px solid #fff;
    color: #fff;
    top: 1em;
    left: 1em;
    text-transform: uppercase;
}

.ms-perspective {
    position: relative;
    margin: 0px auto;
    width: 500.99952px;
    height: 608px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 0%;
    -moz-perspective-origin: 50% 0%;
    perspective-origin: 50% 0%;
}

.ms-device {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    -moz-transition: -moz-transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out;

}

.ms-device,
.ms-object,
.ms-object > div,
.ms-screens a {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* Screens */

.ms-screens a
{
    border: 15px solid black;
}

.ms-screen-1 {
    width: 350px;
    height: 350px;
    background-color: rgba(255, 1, 1, 1);
 }

.ms-screen-2 {
    width: 350px;
    height: 350px;
    background-color: rgba(1, 255, 1, 1);
 }

.ms-screen-3 {
    width: 350px;
    height: 350px;
    background-color: rgba(1, 255, 255, 1);
 }

.ms-screens a {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ms-screens > a {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 72.9996px;
    left: 17.99996px;
    outline: none;
    display: block;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.7s, opacity 0.4s;
    transition: -moz-transform 0.7s, opacity 0.4s;
    transition: transform 0.7s, opacity 0.4s;

}

.ms-screens > a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.ms-label {
    border: 3px solid #fff;
    color: #fff;
    position: absolute;
    left: 100%;
    margin-left: 18px;
    width: 200px;
    padding: 10px;
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
    -moz-transition: opacity 0.7s, -moz-transform 0.7s;
    transition: opacity 0.7s, transform 0.7s;
}

.ms-label::after {
    right: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: #d9382e;
    border-width: 16px;
    top: 50%;
    margin-top: -16px;
}

.ms-label::after,
.ms-label::before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ms-label::after {
    border-color: transparent;
    border-right-color: #313740;
    border-width: 12px;
    top: 50%;
    margin-top: -12px;
}

.ms-label::before {
    border-color: transparent;
    border-right-color: #fff;
    border-width: 16px;
    top: 50%;
    margin-top: -16px;
}

.ms-screens > a:hover .ms-label::before {
    border-right-color: #687fa7
}



/* class applied to rotate phone (common effects) */
.ms-view-layers .ms-screens .ms-screen-1 {
    -webkit-transform: translateZ(50px);
    -webkit-transition-delay: 1s;
    opacity: 0.3;
}

.ms-view-layers .ms-screens .ms-screen-2 {
    -webkit-transform: translateZ(100px);
    -webkit-transition-delay: 2s;
    opacity: 0.3;
}

.ms-view-layers .ms-screens .ms-screen-3 {
    -webkit-transform: translateZ(150px);
    -webkit-transition-delay: 3s;
    opacity: 0.3;
}

.ms-view-layers .ms-screens > a:hover::after {
    opacity: 1;
}

.ms-view-layers .ms-label {
    opacity: 1;
    -webkit-transform: rotateX(-90deg);
}

.ms-view-layers .ms-screen-1 .ms-label {
    -webkit-transition-delay: 1.5s;
}

.ms-view-layers .ms-screen-2 .ms-label {
    -webkit-transition-delay: 2.5s;
}

.ms-view-layers .ms-screen-3 .ms-label {
    -webkit-transition-delay: 3.5s;
}


/* Effect*/
.ms-wrapper .ms-view-layers .ms-device {
    -webkit-transform: rotateY(-40deg) rotateX(90deg) translateZ(-97px) scaleX(1) scaleY(1);
}

@media screen and (max-width: 560px) { 
  .ms-wrapper button {
      position: relative;
      margin: 0 auto;
      left: auto;
      top: auto;
      display: block;
      margin-bottom: 30px;
  }
}
