@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.container {
	min-height: 1000px;
	overflow: hidden; /* Firefox issue */
}



