body
{
    padding: 0px;

}


#section1 {
    width:100%;
    height:1000px;
    border-top: 1px solid grey;
}
  #container {
    width: 320px;
    height: 240px;
    position: relative;
    margin: auto;
    margin-top:150px;
    
    
    padding: 0;
  }

  .border { background: silver; position: absolute; }
  .borderh { height: 10px;background-color:#000; border: 1px solid;}
  .borderv { width: 10px; background-color:#000;border: 1px solid ; }

 
}

  #topbar {   
    left: 0px; top: 0px;
  }
  #rightbar {
    right: 0px; top: 0px;
  }
  #bottombar {   
    right: 0px; bottom: 0px;
  }
  #leftbar {
    left: 0px; bottom: 0px;
  }
  #content {
      position: absolute;
      display:block;
      top: 2px;
      left: 2px;
      /* border-divs are 0px wide with 1px border all around, thus have a width & height of 2px (twice the border-width) -- 2 border-divs = 4 less pixels for the content ! */
      width: 316px;
      height: 236px;
  }

h1 {
	font-family: Arial;
	font-size: 5em;
	text-align: center;
    text-shadow: rgba(0,0,0,.05) 0 0 3px;
  
	background-image: url(../img/bck.jpg);
    background-size:contain;
	-webkit-background-clip: text;
	background-clip: text;
    

	color: rgba(0,0,0,0);
}
